{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-6/12">
        <a href="/">
            <img src="{% static 'images/logo.png'%}" class="">
        </a>
    </div>
    <div class="w-6/12 flex flex-row gap-2 justify-end">
        {% if user.is_authenticated %}
        <div class="mr-2">
            <form method="get" action="{% url 'filme:pesquisarfilme' %}">
                <input name="query" type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar">
                <input type="submit" value="">
            </form>
        </div>
        
        <div class="mr-2">
            <a href="{% url 'filme:editar_perfil' user.pk %}">
                <button class=" bg-red-600 text-white py-1 px-3 rounded-md">Editar Perfil</button>
            </a>
        </div>
        <form method="post" action="{% url 'filme:logout' %}">
            {% csrf_token %}
            <button type="submit" class="mr-2 bg-red-600 text-white py-1 px-3 rounded-md">Sair</button>
        </form>        
        {% else %}
        <div class="mr-2">
            <a href="{% url 'filme:login' %}">
                <button class=" bg-red-600 text-white py-1 px-3 rounded-md">Login</button>
            </a>
        </div>
        {% endif %}
    </div>
</nav>